# Copie ce fichier en .env et remplis les valeurs
TP_TOKEN=
TP_MARKER=
CURRENCY=chf
ORIGINS=GVA,ZRH,BSL
TG_BOT_TOKEN=
TG_CHANNEL=@SkyFlyDrop_com
SCAN_EVERY_HOURS=6
DISCOUNT_THRESHOLD=0.35
MIN_HISTORY=5
